.Outter {
  display: flex;
  justify-content: space-between;
}
.gorw1 {
  flex-grow: 6;
}
.gorw2 {
  flex-grow: 7;
}
.table {
  border-collapse: collapse;
  width: 100%;
  padding: 60px;
}
.trth:hover {
  padding: 10px;
  background-color: greenyellow;
}
.borderBottom {
  border-bottom: 1px solid black;
}
.color {
  background-color: black;
  color: white;
  font-size: 20px;
}
.spantag {
  font-size: large;
  font-weight: bolder;
}
